*.pkl
*.h5
*.pyc
.venv
GitDeployKey*
support.*
.ipynb_checkpoints
__pycache__
*/target
*/.classpath
*/.project
*/.settings
*/.vscode
.vscode
.DS_Store
*/.DS_Store
etl/talend/target
etl/talend/*/target
**.project
etl/talend/.classpath
etl/talend/.settings/
.vscode/settings.json
